@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for the Terminal */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.terminal-scroll::-webkit-scrollbar {
  width: 8px;
}
.terminal-scroll::-webkit-scrollbar-track {
  background: #1e293b;
}
.terminal-scroll::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}
.terminal-scroll::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
