@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for the Terminal */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.terminal-scroll::-webkit-scrollbar {
  width: 8px;
}
.terminal-scroll::-webkit-scrollbar-track {
  background: #f8fafc;
}
.terminal-scroll::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
.terminal-scroll::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
